[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.7.7"
importlib-metadata = "4.11.3"
sqlalchemy = "1.4.46"

[dev-packages]

[requires]
python_version = "3.8"
